<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
.titol {
    float: left;
    margin-left: 30px;
    height: 90px;
}
.titol h1 {
    display:inline-block;
    margin-top: 300px;
    vertical-align: middle;
    font-family: Comfortaa;
    font-size: 100px;
    padding-right: 80px;
    margin-left: 100px;
    color: #EB5757;
}

.botons{
    margin-top: 300px;
}
.botoValorar{
    display:inline-block;
}

.botoValorar p{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #F2C94C;
    display:inline-block;
    margin-left: 95px;
    font-family: Comfortaa;
    font-size: 50px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #333;
    padding-top: 25px;
    width: 250px;
    height: 80px;
}

.botoValorar p:hover{
    text-decoration: underline;
}

.botoValorar p a{
    color:black;
    text-decoration: none;
}

.botoReclamar{
    display:inline-block;
}

.botoReclamar p{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #F2C94C;
    display:inline-block;
    margin-left: 230px;
    font-family: Comfortaa;
    font-size: 50px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #333;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 250px;
    height: 80px;
}

.botoReclamar p:hover{
    text-decoration: underline;
}

.botoReclamar p a{
    color:black;
    text-decoration: none;
}


