<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
.titol {
    float: left;
    margin-left: 30px;
    height: 90px;
}

.titol h1 {
    display:inline-block;
    margin-top: 150px;
    vertical-align: middle;
    font-family: Comfortaa;
    font-size: 85px;
    margin-right: 40px;
    margin-left: 100px;
    color: #EB5757;
}

.search input{
    display:inline-block;
    color: #9c9c9c;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-family: Comfortaa;
    font-size: 60px;
    padding:12px;
    width: 850px;

}


.container1 {
    background-color: #F2C94C;
    position:relative;
    border-radius: 25px;
    margin: 50px;
    border-style: double;
}

.establiment1 img{
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    vertical-align:middle;
    display:inline-block;
}

.ubicacio1{
    position: relative;
}

.ubicacio1 p1{
    color: #EB5757;
    position:absolute;
    white-space: pre;
    bottom:10px;
    left: 50px;
    right:50px;
    font-family: Comfortaa;
    font-size: 55px;
}

.ubicacio1 img{
    position:absolute;
    top:45px;
    left: 50px;
    right:500px;
    height: 45px;
}

.ubicacio1 p2{
    position:absolute;
    color: #EB5757;
    top:55px;
    left: 140px;
    right:500px;
    height: 45px;
    font-family: Comfortaa;
    font-size: 35px;
}

.star1{
    position: relative;
}

.star1 img{
    position:absolute;
    top:45px;
    right:40px;
    left:400px;
    height: 45px;
}

.star2{
    position: relative;
}

.star2 img{
    position:absolute;
    top:45px;
    right:30px;
    left:320px;
    height: 45px;
}
.star3{
    position: relative;
}

.star3 img{
    position:absolute;
    top:45px;
    right:30px;
    left:470px;
    height: 45px;
}

.opacity{
   background-color:rgb(255,0,0);
   opacity:0.6;
   filter:alpha(opacity=60); /* IE < 9.0 */
   width:200px;
   height:70px;
}
