.titol1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.titol1 h1 {
    display:inline-block;
    font-size: 150px;
    padding-right: 75px;
    font-family: Comfortaa;
    color: #EB5757;
    vertical-align: middle;
}


.titol1 img{
    display:inline-block;
    height: 200px;
    vertical-align: middle;
}


.menu-row{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    
    display: flex;
    justify-content: center; /* horizontal */
    align-items: top; /* vertical */
}

.menu-row img{
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
    display:inline-block;
    text-align: center;
}

.option {
    width: 40%;
}


.menu-row p{
    display:inline-block;
    font-family: Comfortaa;
    font-size: 30px;
    text-align: center;
}

.menu-row p:hover{
    text-decoration: underline;
}

.menu-row a{
    color:black;
    text-decoration: none;
}
