<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
.titol {
    float: left;
    margin-left: 30px;
    height: 90px;
}

.titol img{
    height: 200px;
    margin-top: 200px;
    padding-left: 75px;
    vertical-align: middle;
    display:inline-block;
}

.titol h1 {
    display:inline-block;
    margin-top: 300px;
    vertical-align: middle;
    font-family: Comfortaa;
    font-size: 150px;
    padding-right: 75px;
    color: #EB5757;
}

.menul1 img{
    height: 200px;
    margin-top: 100px;
    margin-left: 190px;
    vertical-align: middle;
    display:inline-block;
}

.menul1 p{
    display:inline-block;
    margin-left: 150px;
    font-family: Comfortaa;
    font-size: 30px;
}

.menul1 p:hover{
    text-decoration: underline;
}

.menul1 a{
    color:black;
    text-decoration: none;
}

.menul2 img{
    height: 200px;
    margin-top: 100px;
    margin-left: 190px;
    vertical-align: middle;
    display:inline-block;
}

.menul2 p{
    display:inline-block;
    margin-left: 170px;
    font-family: Comfortaa;
    font-size: 30px;
}

.menul2 p:hover{
    text-decoration: underline;
}

.menul2 a{
    color:black;
    text-decoration: none;
}

.menul3 img{
    height: 200px;
    margin-top: 10px;
    margin-left: 350px;
    vertical-align: middle;
    display:inline-block;
    height: 250px;
}

.menul3 p{
    margin-left: 435px;
    margin-top: 0px;
    font-family: Comfortaa;
    font-size: 30px;
}

.menul3 p:hover{
    text-decoration: underline;
}

.menul3 a{
    color:black;
    text-decoration: none;
}

