
. {
    background-color: #F2C94C;
    margin-left: 50px;
    margin-right: 50px;
    border-style: double;
    font-family: Comfortaa, ;
    align-content: center;
}



































