.to-main-menu-button{
    font-family: Comfortaa;
    font-size: 30px;
    width: 50%;
    text-align: center;
    background-color: white; 
    border:solid 1px black; 
    padding: 30px 10px,; 
    border-radius: 20px;
    margin: auto;
}

.to-main-menu-button p:hover{
    text-decoration: underline;
}

.to-main-menu-button:hover{
    background: #333333;
    color: white;
}

a{
    color:black;
    text-decoration: none;
}

